In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'train_emoji.csv',header = None)
data.head()

                                 0  1   2     3
0           never talk to me again  3 NaN   NaN
1  I am proud of your achievements  2 NaN   NaN
2   It is the worst day in my life  3 NaN   NaN
3                 Miss you so much  0 NaN   [0]
4                     food is life  4 NaN   NaN

In [3]:
data = data.drop([2,3],axis = 1)
data.head()

                                 0  1
0           never talk to me again  3
1  I am proud of your achievements  2
2   It is the worst day in my life  3
3                 Miss you so much  0
4                     food is life  4

In [4]:
data.columns = ['Text','Label']
data.head()

                              Text  Label
0           never talk to me again      3
1  I am proud of your achievements      2
2   It is the worst day in my life      3
3                 Miss you so much      0
4                     food is life      4

In [6]:
data.to_csv('cleaned_train_emoji.csv',index = False)
print("saved")

saved

In [8]:
data = pd.read_csv(r'test_emoji.csv',header = None)
data.head()

                            0  1
0             I want to eat\t  4
1         he did not answer\t  3
2            he got a raise\t  2
3      she got me a present\t  0
4  ha ha ha it was so funny\t  2

In [9]:
data.columns = ['Text', 'Label']
data.head()

                         Text  Label
0             I want to eat\t      4
1         he did not answer\t      3
2            he got a raise\t      2
3      she got me a present\t      0
4  ha ha ha it was so funny\t      2

In [11]:
data.to_csv('cleaned_test_emoji.csv', index = False)
print("Saved")

Saved